<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="container">
    <h1 class="author">{author}</h1>
    <span>
        <strong>{post}</strong>:
        <small>{postDate}</small>
    </span>
    <form action="/edit/{id}">
        <button type="submit">Edit</button>
    </form>
    <form action="/delete/{id}">
        <button type="submit">Remove</button>
    </form>
</div>
</body>
</html>