@model PostModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<form asp-route-id="@ViewBag.Id" asp-action="Edit" asp-controller="Post">
    <div>
        <div>
            <label asp-for="Name">Type post Name</label>
            <input value="@ViewBag.Name" type="text" asp-for="Name" />
        </div>
        <div>
            <label asp-for="Text">Type post text</label>
            <input value="@ViewBag.Text" type="text" asp-for="Text" />
        </div>
        <div>
            <button type="submit">Edit Post</button>
        </div>
    </div>
</form>